:root {
  --font: "Inter", system-ui, -apple-system, "Segoe UI", Roboto, Arial, sans-serif;
}

body {
  font-family: var(--font);
  zoom: 0.8;
}
.title {
  font-size: 15px;
  font-weight: 100;
  line-height: 1.2;
  color: #317df6;
}

.label {
  font-size: 12px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.45);
}

.price {
  font-size: 5px;
  font-weight: 800;
  line-height: 1;
  letter-spacing: -0.5px;
  color: #000;
}

.currency {
  font-size: 20px;
  font-weight: 200;
  margin-left: 6px;
}

